@model IEnumerable<Sales_Management_Web.Model.DTO.OrderDTO>

    <br />
    <div class="container p-4 border">
        <div class=row pb-2>
            <div class="col">
                <h1 class="text-primary">Order List</h1>
            </div>
            <div class="col text-end pt-1">
                <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> New</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Client</th>
                    <th>Service</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Price</th>
                    <th>Closer</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Reference</td>
                    <td>@item.Client.CompanyName</td>
                    <td>@item.Service.Name</td>
                    <td>@((item.StartDate.ToString("yyyy-MM-dd")))</td>
                    <td>@((item.EndDate.ToString("yyyy-MM-dd")))</td>
                    <td>@((item.Price).ToString("c"))</td>
                    <td>@item.Employee.Email</td>
                    <td>@if (@item.Status)
                        {
                            <i class="bi bi-check2 text-success fw-bold"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle text-danger fw-bold"></i>
                        }    
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div>